@{
    ViewData["Title"] = "Lista de Medicamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            @if (!string.IsNullOrEmpty(ViewBag.ContaAtiva.Utilizador))
            {
                <h1>AUTENTICADO!!</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Editar?</th>
                            <th>Apagar?</th>
                            <th>ID Sistema</th>
                            <th>Nome</th>
                            <th>Frequência</th>
                            <th>Quantidade</th>
                            <th>Último Consumo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var med in Model)
                        {
                            <tr>
                                <td><a href="/Medicamento/Editar/@med.GuidMedicamento">Editar</a></td>
                                @*<td><a href="/Medicamento/Apagar/@med.GuidMedicamento">Apagar</a></td>*@
                                <td>
                                    <form action="/Medicamento/Apagar/@med.GuidMedicamento" method="post" style="display:inline;">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <input type="submit" value="Apagar" onclick="return confirm('Are you sure you want to delete this medicamento?');" />
                                    </form>
                                </td>
                                <td>@med.GuidMedicamento</td>
                                <td>@med.Nome</td>
                                <td>@med.Frequencia</td>
                                <td>@med.Quantidade</td>
                                <td>@med.UltimoConsumo.ToString("dd/mm/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>ANÓNIMO!!</h2>
                <meta http-equiv="refresh" content="0; URL=/" />
            }

            
        </div>
    </div>
</div>
