
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <h1>EDITAR Documento</h1>
    <form method="post" action="/Documento/Editar">
        <input type="hidden" name="Uid" value="@Model.Uid" />
        <label>Titulo do Documento: </label>
        <input type="text" name="Titulo" value="@Model.Titulo" /><br />
        <label>Resumo do Documento:</label>
        <input type="text" name="Resumo" value="@Model.Resumo" /><br />
        <label>Data Publicação:</label>
        <input type="text" name="DtPublicacao" value="@Model.DtPublicacao" /><br />
        <label>Estado:</label>
        <input type="checkbox" name="Estado" value="1" @(Model.Estado == 1 ? "checked" : "") /><br />
        <input type="submit" value="Atualizar" />
    </form>
</body>
</html>
