@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Criar</title>
</head>
<body>
    <h1>Criar documento</h1>
    <form method="post" action="/Documento/Editar">
        <input type="hidden" name="Uid" value="@Model.Uid" />
        <label>Titulo:</label>
        <input type="text" name="Titulo" value="@Model.Titulo" /><br />
        <label>Resumo:</label>
        <input type="text" name="Resumo" value="@Model.Resumo" /><br />
        <label>Data Publicação:</label>
        <input type="date" name="DtPublicacao" value="@Model.DtPublicacao.ToString("yyyy-MM-dd")" /><br />
        <label>Estado:</label>
        <input type="checkbox" name="Estado" @(Model.Estado == 1 ? "checked" : "") /><br />
        <input type="submit" value="Atualizar" />
    </form>
</body>
</html>