
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <h1>Lista Documentos</h1>

    <a href="/Documento/Listar/todos">Todos os Docs</a>
    <a href="/Documento/Listar/ativos">Todos os Ativos</a>
    <a href="/Documento/Listar/inativos">Todos os Inativos</a>
    <a href="/Documento/Criar">Criar</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Resumo</th>
            <th>Data Publicação</th>
            <th>Data Criação</th>
            <th>Estado</th>
        </tr>
        @foreach(var doc in @Model)
        {
            <tr>
                <td>@doc.Uid</td>
                <td>@doc.Titulo</td>
                <td>@doc.Resumo</td>
                <td>@doc.DtPublicacao</td>
                <td>@doc.DtCriacao</td>
                <td>@doc.Estado</td>
            </tr>
        }
    </table>
</body>
</html>
