
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDoc</title>
</head>
<body>
    <h1>Detalhe Objeto Fatura</h1>
    <p>ID: @Model.Id</p>
    <p>Titulo: @Model.Titulo</p>
    <p>Resumo: @Model.Resumo</p>
    <p>Estado: @Model.Estado</p>
    <p>Na saca vamos ter: </p>
    <p>Como Viewback temos:</p>
    <p>Origem: @ViewBag.Origem</p>
    <p>Destino: @ViewBag.Destino</p>
    <p>Como ViewData temos:</p>
    <p>Origem: @ViewData["Origem"]</p>
    <p>Destino: @ViewData["Destino"]</p>
    <form>
        <label>Nome: </label>
        <input type="" />
        <label>Método Pagamento: </label>
        @* <select name="metodosPagamento">
            <option value="" selected>Selecionar forma de pagamento</option>
            <option value="1">MBWay</option>
            <option value="2">MBNet</option>
            <option value="3">VISA</option>
        </select> *@
        <select name="metodos">
            <option value="" selected>Selecionar forma pagamento: </option>
            @{var contentor = ViewBag.MP;}
            @foreach (var metodopagamento in contentor)
            {
                <option value="@metodopagamento.Id">@metodopagamento.Designacao</option>    
            }
        </select>
    </form>
</body>
</html>
