
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Docs 4 ALL</h1>
                        <hr class="small">
                        <span class="subheading">Um portal de Gestão Documental para Si (ou Ré)</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @foreach (var doc in @Model) {
                @* <tr>
                <td><a href="/Documento/Editar/@doc.Uid">Editar</a></td>
                <td>@doc.Titulo</td>
                <td>@doc.Resumo</td>
                <td>@doc.DtPublicacao</td>
                <td>@doc.DtCriacao</td>
                <td>@doc.Estado</td>
            </tr> *@


                <div class="post-preview">
                    @{
                        var url = "";
                        if (ViewBag.ContaAtiva.NivelAcesso == 0)
                        {
                            url = "javascript.window.alert('Autentica para ler/editar')";
                        }
                        else
                        {
                            url = $"/Documento/Editar/{@doc.Uid}";
                        }
                    }
                    <a href="@url">
                        <h2 class="post-title">
                            @doc.Titulo
                        </h2>
                        <h3 class="post-subtitle">
                            @doc.Resumo
                        </h3>
                    </a>
                    <p class="post-meta">Publicado por <a href="#">Docs 4 ALL</a> em @doc.DtPublicacao</p>
                </div>
                <hr>

                @if (ViewBag.ContaAtiva.NivelAcesso > 0)
                {
                    <h1>AUTENTICADO!!</h1>
                }
                else
                {
                    <h2>ANÓNIMO!!</h2>
                }
        }
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Publicações mais Antigas &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

